html,
body {
	margin: 0;
	height: 100%;
}

.wrapper {
	height: 100vh;
	overflow-y: auto;
}

div {
	height: 100vh;
	background-image: repeating-linear-gradient(to bottom, white, white 10vh, #f5f5f5 10vh, #f5f5f5 20vh);
}

.progress {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
